body {
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #40514E;

}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Spicy Rice', cursive; 
    color: #6E2142;
    line-height: 2;
}
h2 {
    font-family: 'Ranchers', cursive;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;

}
.h2 {
    color: #6E2142;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
    font-family: 'Oswald', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #D38CAD;
    position: relative;
    padding-top: 100px;
}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.pfp {
    width: 15%;
    height: auto;
    position: relative;
}

.circular {
    border-radius: 100%;
}

.books{
    width: 25%;
    height: auto;
    float: left;
    margin-right: 30px;

}
.plants {
    width: 25%;
    height: auto;
    float: right;
    margin-left: 30px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .footer {
    background-color: #D38CAD;
    padding: 50px 0 20px;
  }
  .hannah {
      color: white;
      font-size: 0.75rem;
      padding: 20px 0;

  }   
  .footer-link {
      color: #6E2142;
  }
  hr {
        border: dotted #EAF6F6 6px; 
        border-bottom: none;
        width: 4%;
        margin: 100px auto;

  }
  .contact-me {
      margin-bottom: 100px;
  }
  .middle-containter {
      margin: 100px 0;
  }

  .intro {
      width: 30%;
      margin: auto;
  }
  p {
      line-height: 2;
  }

  .contact-message {
      width: 40%;
      margin: 40px auto 60px;
  }